
.arreglo{
    margin: 0px;
}

.fondodepagina{
        background: url(src/fondogeneral.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 900px;
        display: flex;
        justify-content: center;
}

.fordodeinicio{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 500px;
    border: 3px orangered solid;
    margin-top: 80px;
    background-color: white;
    opacity: .93;
    text-align: center;
    font-style: italic;
    font-size: 25px;
}
.botonIngreso{
    left: 540px;
    top: 400px;
    position: absolute;
    padding-top: 1px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 1px;
    background-color: #247AFD;
    border: 1px black solid;
    font-family: cursive;
    font-size: 15px;
    border-radius: .80rem;
}

.botonOlvide{
    left: 580px;
    top: 465px;
    position: absolute;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    background-color: #D8DCD6;
    border: 1px gray solid;
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    border-radius: .40rem;
    
}

.logo{
    width: 100px;
    height: 100px;
    padding-top: 50px;  
}
