.cabecera{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #F43605, #FD8D49);
    border:3px black solid;
    justify-content: space-around;


}
.tarjetas img:hover{
    transform: translate(0px,15px);
}

.Logo img:hover{
    transform: translate(15px);
}

.cabecera div{
    display: flex;
    align-items: center;



}

.tiroutero{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px

}
    
.menu ul{
    display: flex;
    list-style: none;
    padding-top: 110px;
    
}
.menu ul li{
    display: flex;
    margin-right: 9px;
    
}
.tarjetas img{
    width: 300px;
    height: 200px;
    
}
.tarjetas h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.tarjetas p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tituloDestacado{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-image: url("src/routeroportada.jpg");
    background-attachment: fixed;
    background-position: left;
    background-size: contain;

}
.destacado{
    color: white;
    font-size: 45px;
}
.destacado:hover{
    color: red;
}


.tarjetas{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #FD8D49, #F43605);
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    
    
}
.PaginaCuerpo{
    width: 100%;
    height: 100%;
    border: 3px black solid;
}

.formulario{
    display: flex;
    width: 300px;
    height: 450px;
    border: 3px black solid;
    background-color: white;
    text-align: center;
    margin: 30px;
    font-family: sans-serif;
    letter-spacing: 0.03em;
   
    
}

.bloqueformulario img{
    width: 200px;
    height: 200px;

}

.bloqueformulario {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #FD8D49, #F43605);
    justify-content: space-around;
    padding-top: 100px;
    
    

}

.creditos{
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px black solid;
    background: linear-gradient(to right, #FD8D49, #F43605);
    justify-content: center;


}
