
body{
    margin: 0px;
}

.cabecera{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right,#fec89a,#f9dcc4);
}
.logo {
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
}
.logo:hover{
    transform: translate(15px);
}
.tiroutero{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-left: 300px;
}
.menu{
        display:flex;
        list-style: none;
        font-family: cursive;  
}
.menu li{
    padding-left: 16px;
    padding-top: 10px;
}
.PaginaCuerpo{
    width: 100%;
    background-image: url("src/fondoMadera.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    
}
.PaginaCuerpo h1{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 20px;
    color:black;
    font-size: 40px;
    
}
.tarjetas{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;  
}
.logo2{
    width: 150px;
    height: 150px;
}


.tarjetas img:hover{
    transform: translate(0px,15px);
}


.tarjetas h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color:black;
    -webkit-text-stroke: 2px white;
    
}


.tarjetas p{
    font-family:cursive;
    color:#0077b6;
    font-size: 15px;
}
.tarjetas img{
    width: 300px;
    height: 200px;
    border-radius: 25px;
}
.paginaInferior{

    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.logoytexto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bloqueformulario{
    width: 300px;
    height: 300px;
    background-color: white;
    opacity: 0.8;  
    border-radius: 25px;
    display: flex;
    
    
}
.formulario{
    margin: 0px;
}
.nombres{
    margin: 0px;
}


.nombres p{
    margin-top: 16px;
    margin-bottom: 16px;
}
.formulario input{
    margin-top: 16px;
}
.formulario textarea{
    margin-top: 25px;
}

/*
.creditos{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #FD8D49, #F43605);
    justify-content: center;
}
*/